hr{
border: 0;
border-top: 1px solid #1890cc;
background-color: currentColor;
}
textarea{
border-radius : 7px;
margin-top: 19px;
border-color: #1890ff;
padding:4px;
}
body{
overflow : hidden;
padding : 20px;}
.page-top{
margin-top : 10px;
margin-left : 10px;
margin : 0px auto;
}
.top-h{
font-size : 30px;
font-weight:600;
color :  #1890FF;
}
.domain{
display : flex;
}
.group-body {
display : flex;
flex-direction : column;
margin-left : 20px;
margin-right : 20px;
margin-top : 20px;}
.domain p{
width : 70px;
font-size : 16px;
font-weight : 600;
color : #555555;
margin-right : 16px;
text-align : right; 
}
.domain input {
margin-top : 4px;
font-size : 13px;
font-weight : 100;
color : #000;
border : none;
}
.s-e_date{
display : flex;
margin-bottom : 10px;
margin-top : 5px;
}
.all_day-r{
margin-top : 16px;
font-size : 13px;
margin-right : 10px;
}
#ok-button{
margin-top : 10px;
margin-left : 220px;
color : #1890FF;
font-weight:600;
padding : 6px 12px;
font-size : 14px;
vertical-align : middle;
border : 1px solid transparent;
border-radius : 4px;
cursor:pointer;
width : 60px;
background:none;
}
#ok-button:hover {
	color : #1890cc;
	font-size : 14.3px;
}
#timech{
display: flex;
flex-direction: row;
margin-left: 10px;
}
#timech input{
width : 100px;}

input:focus, textarea:focus {
	outline :none;
}