body{
	font-weight:400;
	word-wrap: break-word;
}

.blog-meta{
	padding-top:15px;
	margin-bottom:10px;
}
.full-detail-content{
	padding: 5%;
}

.blog-comments{
	color:#4267B2;
	font-weight:500;
	font-size:14px;
	letter-spacing:1px;
}

.blog-category{
	color:#4267B2;
	font-weight:500;
	font-size:14px;
	letter-spacing:1px;
}
.blog-meta_texts{
    color: #4267B2;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 1px;
    word-spacing: 2px;
    
}

.blog-meta_separator {
    display: inline-block;
    font-size: 11px;
    padding-left: 12px;
    padding-right: 12px;
}

.row{
	margin-bottom:2rem;
}
h2 {
    font-size: 30px;
    line-height: 1.25;
    font-weight: 300;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

img{
	max-width:100%;
	height:auto;
	border-style:none;
}

.blog-image{
	margin-bottom:10px;
	overflow:hidden;
}

.text-content{
	font-size:16px;
	font: 1.2em "Fira Sans", sans-serif;
}

.replylist-details{
	margin-bottom: 15px;
}

.rbtn{
	padding:7px 14px 7px 14px;
	border-radius:4px;
	border: 1px solid grey;
	margin-right: 7px;
}

.link:hover{
	text-decoration:none;
	cursor:pointer;
}
.writer-options{
	margin-bottom:20px;
}

#reply_content {
			width: 90%;
			height: 180px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px #337ab7;
			border-radius: 5px;
			font-size: 16px;
			resize: none;
		}
		

.blog-full-content{
    box-shadow: 0px 7px 20px 0px rgb(0 0 0 / 10%);	
}	

hr{
	width:90%;
	margin:0 auto;
}
#container{
	width:60%;
}

.widget relative-links a:hover{
	text-decoration:none;
}
.relative-links{
	margin-bottom: 130px;	
}
ul{
	list-style:none;
}
li{
	padding-top:5px;
	padding-bottom:5px;
	display:list-item;
}
.reply-email{
	font-weight:bold;
	font-size:17px;
	color:#337ab7;
}
.reply-relate{
	font-weight:bold;
	font-size:15px;	
}
.row{
	padding-top:50px;
}

.replyDelete-Btn{
	padding:3px 7px 3px 7px;
	border-radius:4px;
	background-color:#337ab7;
	color:white;
	border:none;
}

.delete-btn{
	color:crimson;
}
.replyWrite-Btn{
	background:#337ab7;
	color:white;
	border:none;
}

.like-area{
	margin-bottom:50px;
}