
body{
	word-wrap: break-word;
}
.header{
	font-weight: 200;
    font-size: 39px;
    line-height: 55px;
    color: rgb(57,60,71);
    margin-bottom: 50px;
}
.pageMaker:hover{
	text-decoration: none;
}
.page-wrap-two{
	text-align:center;
	margin-bottom:20px;
}
.col-md-8{
	margin-top:20px;
}
#blog-list{
		font-weight: 300;
		font-size:18px;
}
.blog-post_text-content a:hover{
	text-decoration:none; 
}

.blog-post{
	margin-bottom:50px;
	box-shadow: 0px 7px 20px 0px rgb(0 0 0 / 20%);
	width:600px;
}

.page-num{
	background:#337ab7;
	color:#fff;
	padding: 3px 10px 3px 10px;
	font-size:15px;
	text-align:center;
	border-radius:7px;
}
.page-num:hover{
	text-decoration:none;
}

.page-wrap{
	text-align:center;
	margin-bottom:10px;
}

.blog-post_text-content{
	background:#fff;
	padding:25px 30px;
	position:relative;
	z-index:1;
}

.blog-meta{
	margin-bottom:9px;
}

.blog-meta_date{
	color: #000000;
	font-weight:500;
	font-size:11px;
	letter-spacing:1px;
	word-spacing:2px;
}

.blog-meta_separator{
	display:inline-block;
	font-size:11px;
	padding-left:12px;
	padding-right:12px;
}

.paragraph{
	margin:0 10px -30px;
}


.list-images {
	position:absolute;
	max-width:100%;
	height:auto;
	width:100%;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	vertical-align:middle;
}

.blog-post_image-wrap{
	position:relative;
	overflow:hidden;
	width:auto;
	height:395px;
}

.col-6 col-md-4{
	position: relative;
	min-height:1px;
	padding-right: 15px;
	padding-left: 15px;
}

.whole{
	padding-top:50px;
}

.blog-content_preview{
    height: 150px;
    font-size: 14px;
    line-height: 30px;
    color: rgb(77, 80, 85);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}
.relative-intro{
	margin-bottom:25px;
	font-weight: 500;
	font-size:18px;
}

.widget{
		padding:0 0 0 35px;
		margin-bottom:70px;
}
.widget a:hover{
	text-decoration:none;
}

.line-break{
	margin-top:10px;
	margin-bottom:10px;	
}

input{
	box-sizing: border-box;
}

.search-text{
	border-radius:2px;
	height:34px;
	box-shadow:none;
	padding-left:20px;
	border:1px solid #4267B2;
}

li{
	padding-top:5px;
	padding-bottom:5px;
	display:list-item;
}
.widget relative-links a:hover{
	text-decoration:none;
}

ul{
	list-style:none;
}
